body{
    background-color: #a71814;
}
#container{
        width: 80%;
    height: 400px;
    margin: 0 auto;
    border: 2px solid black;
    position: relative;
    margin-top: 40px;
}

.slides{
    width: 100%;
    height: 100%;
    position: absolute;
}

.btn {
    border: none; 
    color: white; 
    padding: 14px 14px; 
    cursor: pointer; 
}

.slider {
    background-color: transparent;
} 
.slider:hover {
    background-color: #0a2b4e;
    }

.btnRight{
    float: right;
    position: relative;
    top: 180px;
    right: 20px;
}

.btnLeft{
    
    position: absolute;
    top: 180px;
    
}
.footer{
    text-align: center;
    font-family: fantasy;
    color: mintcream;
    font-size: 25px;
}
